body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.top-section {
    background-color: #1F2937;
    box-sizing: border-box;
    padding: 16px 225px;
    height: 500px;
}

.logos {
    display: flex;
    align-items: center;
    height: 27px;
}

.sign-up {
     width: 350px;
    flex-wrap: wrap;
}

.top-section-content {
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

h3 {
    font-size: 24px;
    display: flex;
    flex: 1;
}

button {
    border: #3882F6;
    background-color: #3882F6;
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 16px;
}

.big-image {
    background-color: rgb(94, 94, 94);
    box-sizing: border-box;
    height: 220px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    display: flex;
    flex: 1;
}

.large-text {
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.contrast {
    color: #E5E7EB;
    font-size: 18px;
}