body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.section {
    box-sizing: border-box;
    padding: 16px 220px;
    height: 500px;
}

/* This section styles the top dark-blue section */

#top-section {
    background-color: #1F2937;
}

.logos {
    display: flex;
    align-items: center;
    height: 27px;
}

.sign-up {
     width: 470px;
    flex-wrap: wrap;
}

.top-section-content {
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 24px;
    display: flex;
    flex: 1;
}

button {
    border: #3882F6;
    background-color: #3882F6;
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 16px;
}

.big-image {
    background-color: rgb(95, 95, 99);
    box-sizing: border-box;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    display: flex;
    flex: 1;
}

.large-text {
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.contrast {
    color: #E5E7EB;
    font-size: 18px;
}
/* This section is for the middle information section */

#information-section {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.small-image {
    box-sizing: border-box;
    outline: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info-container {
    display: flex;
    gap: 50px;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 150px;
}
